<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="listening">Listening...</div>
<button (click)="startListening()">Start</button>
<button (click)="abort()">Stop</button>

<h3>You said:</h3>
<h4>{{textValue}}</h4>

<h3>Response:</h3>
<div *ngIf="response">
  <h4>{{response.response}}</h4>
  <div>
    <!--<audio
      controls
      src="https://actions.google.com/sounds/v1/cartoon/clang_and_wobble.ogg">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
    <div>With src</div>-->
    <!--<audio controls="controls" autobuffer="autobuffer" autoplay="autoplay">
      <source src="data:audio/wav;base64,{{response.audio}}" />
    </audio>-->
    <!--<audio controls src="data:audio/ogg;base64,{{response.audioFile.data}}"></audio>-->
  </div>
  <div *ngIf="response.sentimentAnalysisResult">
    <h4>Sentimental analysis Result</h4>
    <div>Score - {{response.sentimentAnalysisResult.queryTextSentiment.score}}</div>
    <div>Magnitude - {{response.sentimentAnalysisResult.queryTextSentiment.magnitude}}</div>
  </div>

</div>
<router-outlet></router-outlet>
